@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

* {
    font-family: Roboto;
    font-weight: bold;
}

/* 
 * NavBar styles 
*/
.bg-custom {
  background: #0b1017;
  box-shadow: 0px 0px 0px 1px #8B949D;
    /* background: linear-gradient(to right, #F5E3E6, #D9E4F5); */
    /*background: linear-gradient(to right,#E5BDF6, #D8DEDE);*/
}


.navbar-brand {
    position: relative;
    bottom: 3px;
    font-size: xx-large;
}

.navbar-brand #gradientTitle {
    background: -webkit-linear-gradient(#c58357, #ab1a11);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.navbar-brand {
    display: flex;
    align-items: center;
    gap: 0 10px;
    margin: 0 10px;
}

.navbar-brand img {
    position: relative;
    width: 40px;
    top: -5px;
}

.nav-link {
	color: white!important;
  font-size: large;
}

/* Styles for flashed messages */
.alert {
  background: #2F3039;
  border: none;
}

.alert-danger  { color: #BF616A; }
.alert-success { color: #29893C; }


body {
    background: #0D1117;
    color: white;
}

#nav-seperator {
    height: 4px;
    border-radius: 4px;
    margin-top: -4px;
    margin: auto;
    width: 98%;
    /*box-shadow: 2px 2px 20px ;*/
}

/* 
 * styles for song thumbnails shown after search
 * used in searched.html  
*/

* {
    transition: box-shadow 0.15s;
}

.thumbnailCard {
  width: 20rem;
  height: 100%;
  border: 2px solid #30363D;
}

.thumbnailCard:active {
    opacity: 0.8;
}

.thumbnailCard:hover {
    box-shadow: 2px 2px 5px rgba(255, 255, 255, 0.4);
    cursor: pointer;
}

.musicController {
    width: 50%;
    border: 1px solid black;
    padding: 5px;
    display: flex;
    align-content: center;
    justify-content: center;
}

svg {
    margin: 4px;
    border-radius: 50%;
}

svg:hover {
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
}
