@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

* {
	font-family: Roboto;
}

/* 
 * NavBar styles 
*/
.bg-custom {
	background-image: linear-gradient(15deg, #BBDBBE 0%, #DEEBDD 100%);
}


.navbar-light .navbar-brand
{
    font-size: xx-large;


}

.navbar-brand #gradientTitle {
	background: -webkit-linear-gradient(#c58357, #ab1a11);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.navbar-brand {
	display: flex;
	align-items: center;
	gap: 0 10px;
	margin: 0 10px;
}

.navbar-brand img {
	position: relative;
	width: 40px;
	top: -5px;
}


body {
	background: #DAD299;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #B0DAB9, #DAD299);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #B0DAB9, #DAD299); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

/* 
 * styles for song thumbnails shown after search
 * used in searched.html  
*/

* {
	transition: box-shadow 0.2s;
}

.thumbnailCard:active {
	opacity: 0.8;
}

.thumbnailCard:hover {
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
	cursor: pointer;
}

.musicController {
	width: 50%;
	border: 1px solid black;
	padding: 5px;
	display: flex;
	align-content: center;
	justify-content: center;
}

svg {
	margin: 4px;
	border-radius: 50%;
}

svg:hover {
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
}