{% extends "layout.html" %}

{% block head %}

  <link href="../static/css/musicPlayer.css" rel="stylesheet">

{% endblock %}

{% block main %}

  {% if not song %}

    <h1>Song not found!</h1>

  {% else %}

  <audio hidden preload="metadata">
    <source src="../static/downloads/audio/{{ song.id }}.opus">
    <input hidden class="songId" value="{{ song.id }}">
  </audio>

  <div class="main-container">
    <div class="head">
      <i class="fa fa-bars" id="lyrics-shower"></i>
      <i class="fa fa-cog"></i>
    </div>
   <div class="player-container">
     <div class="album-art">
        <img src="{{ song.thumbnail }}" alt="thumbnail" />
      </div>
     <div class="player">
       <i class="fa fa-repeat"></i> 
        <i class="fa fa-fast-backward"></i>
        <i class="fa fa-play"></i>
        <i class="fa fa-pause" style="display: none"></i>
        <i class="fa fa-fast-forward"></i>
        {% if song.favorite %}
          <i class="fa fa-heart clicked"></i>
        {% else %}
          <i class="fa fa-heart"></i>
        {% endif %}
     </div>
   </div> 
   <div class="title">{{ song.title }}
    </div>
    <div class="time-tracker"> 
      <div class="timer">
          <input type="range" id="progress-bar" class="bg" min="0" max="100" step="1" value="0"> 
          <div class="time">
            <span id="currentTime">00:00</span>/<span id="duration"></span>
          </div>
      </div>
    <div id="focusThis" tabindex="-1"></div>
    </div>
  </div>

  <!-- Song changer form -->
  <form hidden id="playPrev" action='/play'>
    <input hidden type="text" name="songId" value="{{ song.prevSong }}">
  </form>
  <form hidden id="playNext"action="/play">
    <input hidden type="text" name="songId" value="{{ song.nextSong }}">
  </form>

  <!-- Lyrics shown here -->
  <div class="main-container" id="lyrics-div" style="display: none">
    <h3>Lyrics</h3>
    {% if song['lyrics'] %}

      {% autoescape false %}
        {{ song['lyrics'] }}
      {% endautoescape %}

    {% else %}

      Lyrics not found!

    {% endif %}
  </div>

  {% endif %}

{% endblock %}

{% block script %}
  <script src="/static/scripts/hoverEffects.js"></script>     <!-- Implements hovereffects for each buttons -->
  <script src="/static/scripts/musicControls.js"></script>   <!-- Controls music controllers play, pause, prevoius, next -->
  <script src="/static/scripts/seekAndTime.js"></script>   <!-- Shows time and adds music progress seek -->
  <script src="/static/scripts/addToFavs.js"></script>     <!-- Adds and removes from list of favorite songs -->
{% endblock %}
