{% extends "layout.html" %}

{% block link %}

  <link href="../static/musicPlayer.css" rel="stylesheet">

{% endblock %}

{% block main %}

  <audio hidden>
    <source src="../static/downloads/audio/{{ details.id }}.opus">
  </audio>

  <div class="container">
  <header>
    <div class="playlist">
      <i class="fa fa-bars"></i>
    </div>
    <div class="setting">
      <i class="fa fa-cog"></i>r
    </div>
  </header>
  <main>
    <div class="album-art">
      <img src="{{ details.thumbnail }}" alt="thumbnail" />
    </div>
    <div class="player">
      <i class="fa fa-repeat"></i> 
      <i class="fa fa-fast-backward"></i>
      <i class="fa fa-play"></i>
      <i class="fa fa-pause" style="display: none"></i>
      <i class="fa fa-fast-forward"></i>
      <i class="fa fa-heart"></i>
    </div>
  </main>
  <footer>
    <div class="title">{{ details.title }}
    </div>
    <div class="time-tracker">
      <div class="timer">
        <form style="width: 90%;">
          <input type="range" id="progress" class="bg" min="0" max="100" step="1" value="0">
        </form>
        <div class="time">
        <span id="currentTime">00:00</span>/<span id="duration"></span>
      </div>
      </div>
      
    </div>
  </footer>
 

  <!-- Song changer form -->
  <form hidden id="playPrev" action='/play'>
    <input hidden type="text" name="songId" value="{{ details.prevSong }}">
  </form>
  <form hidden id="playNext"action="/play">
    <input hidden type="text" name="songId" value="{{ details.nextSong }}">
  <form>

</div>

{% endblock %}

{% block script %}
  <script src="../static/musicPlayer.js"></script>
{% endblock %}
